[user]
	name = mpadge
	email = mark.padgham@email.com
[core]
	autocrlf = input
	safecrlf = true
[alias]
    co = checkout
    ci = commit
    st = status -uno
    br = branch
    hist = log --graph --all --date=short --pretty=format:'%Cred%h%Creset%x09%ad - %Cgreen%d%Cblue%s%Creset'
    type = cat-file -t
    dump = cat-file -p

[push]
	default = simple
